$dark: #16212e;
$dark-two: #222f42;
$cornflower: #7965f1;
$pinkish: #d55a8d;
$rosy-pink: #f6696b;
$blush: #f78982;
$bubble-gum-pink: #ff6394;
$rosy-pink-two: #fa638e;
$dark-three: #1d2938;
$dark-four: #0e1623;
$white: #ffffff;
