@import './color-palette';
@import './fonts';

@mixin H1-Dark-Left {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: bold;
  color: $white;
}

@mixin H1-Dark-Right {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  color: $white;
}

@mixin H3-Dark-Left {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  color: $white;
}

@mixin H3-Dark-Center {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: $white;
}

@mixin H3-Dark-Right {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: $white;
}

@mixin H2-Dark-Left {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: bold;
  color: $white;
}

@mixin Body-Text-3-Dark-Grey-Right {
  font-family: $body-font;
  font-size: 20px;
  text-align: right;
  color: #576579;
}

@mixin H2-Dark-Right {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  color: $white;
}

@mixin H2-Dark-Center {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: $white;
}

@mixin Body-Text-3-Dark-Body-Right {
  font-family: $body-font;
  font-size: 20px;
  text-align: right;
  color: $white;
}

@mixin Body-Text-3-Dark-Grey-Center {
  font-family: $body-font;
  font-size: 20px;
  text-align: center;
  color: #576579;
}

@mixin Body-Text-3-Dark-Grey-Left {
  font-family: $body-font;
  font-size: 20px;
  color: #576579;
}

@mixin Body-Text-3-Dark-Body-Left {
  font-family: $body-font;
  font-size: 20px;
  color: $white;
}

@mixin Body-Text-3-Dark-Body-Center {
  font-family: $body-font;
  font-size: 20px;
  text-align: center;
  color: $white;
}

@mixin Body-Text-1-Dark-Body-Left {
  font-family: $body-font;
  font-size: 16px;
  color: $white;
}

@mixin Body-Text-1-Dark-Body-Center {
  font-family: $body-font;
  font-size: 16px;
  text-align: center;
  color: $white;
}

@mixin Body-Text-1-Dark-Body-Right {
  font-family: $body-font;
  font-size: 16px;
  text-align: right;
  color: $white;
}

@mixin Body-Text-1-Dark-Grey-Left {
  font-family: $body-font;
  font-size: 16px;
  color: #576579;
}

@mixin Body-Text-1-Dark-Grey-Center {
  font-family: $body-font;
  font-size: 16px;
  text-align: center;
  color: #576579;
}

@mixin Body-Text-1-Dark-Grey-Right {
  font-family: $body-font;
  font-size: 16px;
  text-align: right;
  color: #576579;
}

@mixin Body-Text-2-Dark-Grey-Right {
  font-family: $body-font;
  font-size: 12px;
  text-align: right;
  color: #576579;
}

@mixin Body-Text-2-Dark-Grey-Center {
  font-family: $body-font;
  font-size: 12px;
  text-align: center;
  color: #576579;
}

@mixin Body-Text-2-Dark-Grey-Left {
  font-family: $body-font;
  font-size: 12px;
  color: #576579;
}

@mixin Body-Text-2-Dark-Body-Right {
  font-family: $body-font;
  font-size: 12px;
  text-align: right;
  color: $white;
}

@mixin Body-Text-2-Dark-Body-Left {
  font-family: $body-font;
  font-size: 12px;
  color: $white;
}

@mixin Body-Text-2-Dark-Body-Center {
  font-family: $body-font;
  font-size: 12px;
  text-align: center;
  color: $white;
}

@mixin Tiny-Text-Dark-Body-Left {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  color: $white;
}

@mixin Tiny-Text-Dark-Body-Center {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: $white;
}

@mixin Tiny-Text-Dark-Body-Right {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: right;
  color: $white;
}

@mixin Tiny-Text-Dark-Grey-Left {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  color: #576579;
}

@mixin Tiny-Text-Dark-Grey-Center {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: #576579;
}

@mixin Body-Text-3-Dark-Grey-Right-2 {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: right;
  color: #576579;
}

@mixin H2-Dark-Center {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: $white;
}

@mixin H2-Light-Right {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  color: $dark;
}

@mixin H3-Light-Left {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  color: $dark;
}

@mixin H1-Light-Left {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: bold;
  color: $dark;
}

@mixin H1-Light-Center {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: $dark;
}

@mixin H2-Light-Center {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: $dark;
}

@mixin H1-Light-Right {
  font-family: $primary-font;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  color: $dark;
}

@mixin H2-Light-Left {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: bold;
  color: $dark;
}

@mixin H3-Light-Center {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: $dark;
}

@mixin H3-Light-Right {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: $dark;
}

@mixin Body-Text-3-Light-Body-Right {
  font-family: $body-font;
  font-size: 20px;
  text-align: right;
  color: $dark;
}

@mixin Body-Text-3-Light-Body-Center {
  font-family: $body-font;
  font-size: 20px;
  text-align: center;
  color: $dark;
}

@mixin Body-Text-3-Light-Body-Left {
  font-family: $body-font;
  font-size: 20px;
  color: $dark;
}

@mixin Body-Text-1-Light-Body-Right {
  font-family: $body-font;
  font-size: 16px;
  text-align: right;
  color: $dark;
}

@mixin Body-Text-1-Light-Body-Center {
  font-family: $body-font;
  font-size: 16px;
  text-align: center;
  color: $dark;
}

@mixin Body-Text-1-Light-Body-Left {
  font-family: $body-font;
  font-size: 16px;
  color: $dark;
}

@mixin Body-Text-2-Light-Body-Left {
  font-family: $body-font;
  font-size: 12px;
  color: $dark;
}

@mixin Body-Text-2-Light-Body-Right {
  font-family: $body-font;
  font-size: 12px;
  text-align: right;
  color: $dark;
}

@mixin Body-Text-2-Light-Body-Center {
  font-family: $body-font;
  font-size: 12px;
  text-align: center;
  color: $dark;
}

@mixin Tiny-Text-Light-Body-Left {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  color: $dark;
}

@mixin Tiny-Text-Light-Body-Center {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: $dark;
}

@mixin Tiny-Text-Light-Body-Right {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: right;
  color: $dark;
}

@mixin Body-Text-3-Light-Grey-Left {
  font-family: $body-font;
  font-size: 20px;
  color: #748192;
}

@mixin Body-Text-2-Light-Grey-Left {
  font-family: $body-font;
  font-size: 12px;
  color: #748192;
}

@mixin Body-Text-3-Light-Grey-Center {
  font-family: $body-font;
  font-size: 20px;
  text-align: center;
  color: #748192;
}

@mixin Body-Text-1-Light-Grey-Left {
  font-family: $body-font;
  font-size: 16px;
  color: #748192;
}

@mixin Body-Text-1-Light-Grey-Right {
  font-family: $body-font;
  font-size: 16px;
  text-align: right;
  color: #748192;
}

@mixin Body-Text-3-Light-Grey-Right {
  font-family: $body-font;
  font-size: 20px;
  text-align: right;
  color: #748192;
}

@mixin Body-Text-1-Light-Grey-Center {
  font-family: $body-font;
  font-size: 16px;
  text-align: center;
  color: #748192;
}

@mixin Body-Text-2-Light-Grey-Center {
  font-family: $body-font;
  font-size: 12px;
  text-align: center;
  color: #748192;
}

@mixin Links-Left {
  font-family: $body-font;
  font-size: 12px;
  color: #c0c6cd;
}

@mixin Tiny-Text-Dark-Grey-Right {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: right;
  color: #748192;
}

@mixin Tiny-Text-Light-Grey-Center {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  color: #748192;
}

@mixin Tiny-Text-Light-Grey-Left {
  font-family: $body-font;
  font-size: 8px;
  font-weight: bold;
  color: #748192;
}

@mixin Body-Text-2-Light-Grey-Right {
  font-family: $body-font;
  font-size: 12px;
  text-align: right;
  color: #748192;
}

@mixin H3-Dark-Left-Grey {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
  color: #c0c6cd;
}

@mixin Body-Text-2-Dark-Body-Left_Spaced {
  font-family: $body-font;
  font-size: 12px;
  letter-spacing: 0.9px;
  color: $white;
}

@mixin Body-Text-1-Dark-Body-Left-Bold {
  font-family: $body-font;
  font-size: 16px;
  font-weight: bold;
  color: $white;
}

@mixin Placeholder-Grey-Left {
  font-family: $body-font;
  font-size: 24px;
  letter-spacing: 4.2px;
  color: #748192;
}

@mixin SubInfo-Important {
  font-family: $body-font;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: $white;
}

@mixin -Dark-Body-Left-Bold-2 {
  font-family: $body-font;
  font-size: 24px;
  font-weight: bold;
  color: $white;
}

@mixin Big-Information-White {
  font-family: $body-font;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: $white;
}

@mixin Placeholder-Medium {
  font-family: $body-font;
  font-size: 16px;
  letter-spacing: 2.8px;
  color: #748192;
}
