.auth-form {
    width: 100%;
    height: 100vh;
    background-color: $color-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        & > *:not(:last-child) {
            margin-bottom: 4rem;
        }

        &__basic {
            transform: translateX(-100vh);
            opacity: 0;
            transition: transform $auth-screen-animation-duration
                    $auth-screen-animation-style,
                opacity $auth-screen-animation-duration
                    $auth-screen-animation-style,
                width 0s $auth-screen-animation-duration;
            width: 0%;
            overflow: hidden;

            &--active {
                opacity: 1;
                width: 100%;
                transform: translateX(0);
            }
        }

        &__more {
            opacity: 0;
            transform: translateX(100vh);
            width: 0%;
            transition: opacity $auth-screen-animation-duration ease-out
                    $auth-screen-animation-duration,
                transform $auth-screen-animation-duration ease-out
                    $auth-screen-animation-duration;

            &--active {
                width: 100%;
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__basic {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & > *:not(:last-child) {
            margin-bottom: 2rem;
        }

        & > *:last-child {
            margin-top: 2rem;
        }

        &__error-msg {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
