.create-task {
    display: flex;

    &__form {
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        &__input {
            width: 25vw;
            height: 5vh;
            background-color: $color-dark-two;
            border: none;
            color: $color-white;
            box-shadow: 0 2px 4px 0 $color-dark-four;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            margin-bottom: 15px;
            text-indent: 15px;

            &::placeholder {
                color: $color-light-grey;
                opacity: 1; /* Fix Firefox Color*/
            }

            &__date-picker {
                width: 6vw;
                height: 5vh;
                cursor: pointer;
                font-family: Helvetica;
                font-size: 16px;
                box-shadow: 0 2px 4px 0 $color-dark-four;
                background-color: $color-dark-two;
                margin-right: 5px;
                color: $color-light-grey;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                &--active {
                    color: $color-white;
                    background-color: $color-dark-four;
                }
            }
        }

        &__button-create {
            border: none;
            cursor: pointer;
            width: 5vw;
            height: 3vh;
            border-radius: 5px;
            background-color: $color-green;
            color: $color-white;

            &:active {
                background-color: darken($color-green, 5%);
            }
        }

        &__button-cancel {
            border: none;
            cursor: pointer;
            width: 5vw;
            height: 3vh;
            background-color: inherit;
            font-size: 16px;
            color: $color-white;

            &:active {
                color: darken($color-white, 20%);
            }
        }
    }
}
