.event-details {
    width: 100%;
    min-height: 100vh;
    background-color: $color-dark-medium;
    border-left: 1px solid $color-dark-four;
    padding: 2rem 4rem;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 4rem;

    &__drawer {
        width: 40%;

        &--close-btn {
            position: absolute;
            top: 2rem;
            left: 2rem;
            color: white;
        }
    }

    &__field {
        display: grid;
        grid-template-rows: min-content max-content;
        row-gap: 2rem;
    }

    &__dates {
        display: grid;
        width: 100%;
        max-width: 60rem;
        margin: auto;
        grid-template-columns: 48% 4% 48%;
        grid-template-rows: min-content;
        align-items: center;

        &--separator {
            text-align: center;
        }

        &--item {
            background-color: $color-dark;
            padding: 0.8rem 1.6rem;
            border-radius: 8px;
        }

        &--begin {
            text-align: left;
        }
        &--end {
            text-align: right;
        }
    }

    &__description {
        &__body {
            background-color: $color-dark;
            padding: 2rem 4rem;
            border-radius: 8px;
            min-height: 10rem;
        }
    }

    &__team {
        position: absolute;
        right: 4rem;
        top: 3rem;
    }

    &__members {
        list-style: none;
        max-height: 40rem;
        overflow: hidden;
        border-radius: 8px;

        &:hover {
            overflow-y: auto;
        }

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $color-dark;
            padding: 2rem 4rem;

            &:not(:last-of-type) {
                border-bottom: 1px solid $color-light-grey;
            }

            &--img {
                width: 4rem;
                height: 4rem;
                border-radius: 6px;
                margin-right: 1.4rem;
            }

            &--name {
                text-transform: capitalize;
            }

            &--delete {
                margin-left: auto;
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }

            &:hover > &--delete {
                opacity: 1;
            }
        }

        &__add {
            width: 50%;
            min-width: 21rem;
            position: relative;
        }
    }

    &__action-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        &--add {
            width: 100%;
            position: relative;
            &--btn {
                width: 100%;
                text-transform: none;
            }
            &--confirm {
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
            }
        }
        &--it {
            text-transform: none;
        }
    }
}
