.event-details {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-color: $color-dark-medium;
    border-left: 1px solid $color-dark-four;
    padding: 2rem 4rem;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 4rem;

    &__drawer {
        width: 40%;

        &--close-btn {
            position: absolute;
            top: 2rem;
            left: 2rem;
            color: white;
        }
    }

    &__field {
        display: grid;
        grid-template-rows: min-content max-content;
        row-gap: 2rem;
    }

    &__description {
        &__body {
            background-color: $color-dark;
            padding: 2rem 4rem;
            border-radius: 8px;
            min-height: 10rem;
        }
    }

    &__team {
        position: absolute;
        right: 4rem;
        top: 3rem;
    }

    &__members {
        list-style: none;
        max-height: 40rem;
        overflow-y: auto;
        border-radius: 8px;

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $color-dark;
            padding: 2rem 4rem;

            &:not(:last-of-type) {
                border-bottom: 1px solid $color-light-grey;
            }

            &--img {
                width: 4rem;
                height: 4rem;
                border-radius: 6px;
                margin-right: 1.4rem;
            }

            &--name {
                text-transform: capitalize;
            }
        }

        &__add {
            width: 50%;
            min-width: 21rem;
            position: relative;

            &--btn {
                width: 100%;
                text-transform: none;
            }

            &--confirm {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
            }
        }
    }
}
