$REGISTER_FORM_TRANSITION_MS: 500ms;

.register-screen {
    width: 100%;
    height: 100vh;
    background-color: $color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__container {
        width: 100%;
        height: 100%;
        display: grid;
        padding: 2rem;
        grid-template-columns: max-content;
        grid-template-rows: repeat(2, min-content);
        gap: $auth-screen-spacing-layouts;
        justify-content: center;
        align-content: center;
        position: absolute;

        &__title {
            text-align: center;
        }

        &--basic {
            &-enter {
                transform: translateX(-100%);
                &-active {
                    transform: translateX(0);
                    transition: transform $REGISTER_FORM_TRANSITION_MS
                        $auth-screen-animation-style;
                }
            }

            &-exit {
                transform: translateX(0);
                &-active {
                    transform: translateX(-100%);
                    transition: transform $REGISTER_FORM_TRANSITION_MS
                        $auth-screen-animation-style;
                }
            }
        }

        &--more {
            &-enter {
                transform: translateX(100%);
                &-active {
                    transform: translateX(0);
                    transition: transform $REGISTER_FORM_TRANSITION_MS
                        $auth-screen-animation-style;
                }
            }

            &-exit {
                transform: translateX(0);
                &-active {
                    transform: translateX(100%);
                    transition: transform $REGISTER_FORM_TRANSITION_MS
                        $auth-screen-animation-style;
                }
            }
        }
    }

    &__basic,
    &__more {
        display: grid;
        grid-template-columns: min-content;
        grid-auto-rows: min-content;
        gap: $auth-forms-spacing-inputs;
        justify-content: center;
        justify-items: center;
        position: relative;

        &__error-msg {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__basic {
        &__btn {
            padding: 1.4rem 1.6rem;
            position: absolute;
            top: 50%;
            right: -30%;
            transform: translateY(-50%);
            transition: all 0.4s;

            & > svg {
                font-size: 2rem;
                color: $color-white;
            }
        }
    }

    &__more {
        position: relative;
        &__btn {
            padding: $auth-forms-button-padding;
            width: 100%;
            font-size: 1.4rem;
        }

        &__btn-back {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
            padding: 1.4rem 1.6rem;
            transition: all 0.4s;

            & > svg {
                font-size: 2rem;
                color: $color-white;
            }
        }
    }
}
