.register-screen {
    width: 100%;
    height: 100vh;
    background-color: $color-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: grid;
        padding: 2rem;
        grid-template-columns: max-content;
        grid-template-rows: repeat(2, min-content);
        gap: $auth-screen-spacing-layouts;
        justify-content: center;
        align-content: center;

        &__title {
            text-align: center;
        }

        &__basic {
            transform: translateX(-100vh);
            opacity: 0;
            transition: transform $auth-screen-animation-duration
                    $auth-screen-animation-style,
                opacity $auth-screen-animation-duration
                    $auth-screen-animation-style,
                width 0s $auth-screen-animation-duration;
            width: 0%;
            overflow: hidden;

            &--active {
                opacity: 1;
                width: 100%;
                transform: translateX(0);
            }
        }

        &__more {
            opacity: 0;
            transform: translateX(100%);
            width: 0%;
            transition: opacity $auth-screen-animation-duration ease-out
                    $auth-screen-animation-duration,
                transform $auth-screen-animation-duration ease-out
                    $auth-screen-animation-duration;

            &--active {
                width: 100%;
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__basic,
    &__more {
        display: grid;
        grid-template-columns: min-content;
        grid-auto-rows: min-content;
        gap: $auth-forms-spacing-inputs;
        justify-content: center;
        justify-items: center;
        position: relative;

        &__error-msg {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__basic {
        &__btn {
            padding: 1.4rem 1.6rem;
            position: absolute;
            top: 50%;
            right: -30%;
            transform: translateY(-50%);
            transition: all 0.4s;

            & > svg {
                font-size: 2rem;
                color: $color-white;
            }
        }
    }

    &__more {
        position: relative;
        &__btn {
            padding: $auth-forms-button-padding;
            width: 100%;
            font-size: 1.4rem;
        }

        &__btn-back {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
            padding: 1.4rem 1.6rem;
            transition: all 0.4s;

            & > svg {
                font-size: 2rem;
                color: $color-white;
            }
        }
    }
}
