@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin input-placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    } /* Firefox 19+ */
    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    } /* Firefox 18- */
    &:-ms-input-placeholder {
        color: $color;
        opacity: 1;
    }
}

@mixin calc($property, $expression...) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

%base-input-shape {
    width: 100%;
    max-width: $base-input-max-width;
    background-color: inherit;
    border-radius: $base-input-border-radius;
    border: 1px solid currentColor;
    color: $color-white;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family: inherit;
    padding: $base-input-padding-top $base-input-padding-sides;
}
