// COLORS
$color-dark: #16212e;
$color-dark-two: #222f42;
$color-dark-three: #1d2938;
$color-blue-light: #7965f1;
$color-pinkish: #d55a8d;
$color-rosy-pink: #f6696b;
$color-blush: #f78982;
$color-bubble-gum-pink: #ff6394;
$color-rosy-pink-two: #fa638e;
$color-dark-medium: #1d2938;
$color-dark-four: #0e1623;
$color-white: #fff;
$color-light-grey: #748192;
$color-green-light: rgb(30, 226, 30);

$color-primary-gradient: linear-gradient(
    122deg,
    lighten($color-rosy-pink, 10%),
    $color-rosy-pink
);

/*
GENERAL
*/
$border-slight-dark: 1px solid rgba($color-dark-four, 0.4);
$border-slight-light: 1px solid rgba($color-white, 0.4);
$border-focus: 1px solid $color-white;

$page-transition-ms: 500ms;

/*
AUTH SCREEN
*/
$auth-screen-banner-width: 40vw;
$auth-screen-animation-duration: 0.4s;
$auth-screen-animation-style: ease-in;
$auth-screen-spacing-layouts: 6rem;
$auth-forms-spacing-inputs: 4rem;
$auth-forms-button-padding: 1.2rem 4rem;

/*
HEADER
*/
$header-padding-top-bottom: 4rem;
$header-padding-sides: 12rem;

/*
SIDEBAR
*/
$sidebar-size: 10rem;
$sidebar-size-expanded: 22rem;
$sidebar-expand-button-size: 3rem;
$sidebar-animation-duration: 0.3s;
$sidebar-item-spacing: 1.2rem;
$sidebar-border: 1px solid $color-dark-four;
$sidebar-item-padding: 3rem;

/*
ADMIN FILTERS
*/
$admin-filters-spacing: 4rem;

/*
ADMIN PANNEL
*/
$admin-pannel-padding-content-sides: 8rem;
$admin-pannel-gap: 6rem;

/*
FILTER ITEM
*/
$filter-item-spacing-name-count: 1rem;
$filter-animation-duration: 0.5s;

/*
LABEL
*/
$label-count-padding: 0.7rem;
$label-count-font-size: 1rem;

/** input */

$base-input-padding-sides: 1.8rem;
$base-input-padding-top: 1rem;
$base-input-max-width: 50rem;
$base-input-border-radius: 14px;

/*
SEARCH FIELD
*/
$search-input-padding: 1rem;
$search-input-animation-duration: 0.3s;
$search-input-width: 24rem;
$search-input-icon-size: 2rem;

/* 
SMART INPUT
*/
$smart-input-animation-duration: 0.4s;
$smart-input-animation-style: ease-in-out;
$smart-input-icon-size: 2rem;

/*
ICONS
*/
$icon-animation-duration: 0.4s;
