// COLORS

$color-dark: #16212e;
$color-dark-two: #222f42;
$color-blue-light: #7965f1;
$color-pink-deep: #d55a8d;
$color-pink-rosy: #f6696b;
$color-pink-light: #f78982;
$color-pink: #ff6394;
$color-pink-rosy-two: #fa638e;
$color-dark-medium: #1d2938;
$color-dark-four: #0e1623;
$color-white: #fff;
$color-grey-light:  #748192;
$color-green-light: rgb(30, 226, 30);