.admin-pannel {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 1fr max-content;
    grid-row-gap: $admin-pannel-row-gap;

    &__search {
        grid-column: 1 / -1;
        position: relative;
        padding: 0 $admin-pannel-padding-content-sides;
    }

    &__grid {
        grid-column: 1 / -1;
        padding: 0 $admin-pannel-padding-content-sides;
    }
}
