.auth-screen {
    display: grid;
    grid-template-columns: min-content 1fr;

    &__checkbox {
        display: none;
    }

    &__form {
        transition: transform 0.6s ease-in-out, width 1s ease-out;
        width: 100%;

        &--login {
            transform: translateX(-66%);
        }

        // &--register {
        //     transform: translateX(-33%);
        // }
    }

    &__banner {
        box-shadow: 1rem 1rem 2rem rgba($color-dark-four, 0.4);
        z-index: 10;
        transition: transform 0.4s ease-in, width 1s ease-out;
        width: $auth-screen-banner-width;

        &--login {
            box-shadow: -1rem 1rem 2rem rgba($color-dark-four, 0.4);
            transform: translateX(150%);
        }

        &--register {
            width: 0vw;
            overflow: hidden;
        }
    }
}
