.auth-screen {
    display: grid;
    grid-template-columns: min-content 1fr;
    overflow: hidden;

    &__checkbox {
        display: none;
    }

    &__form {
        transition: transform $auth-screen-animation-duration
            $auth-screen-animation-style;
        width: 100%;

        &--login {
            transform: translateX(-66%);
        }
    }

    &__banner {
        box-shadow: 1rem 1rem 2rem rgba($color-dark-four, 0.4);
        z-index: 10;
        transition: transform $auth-screen-animation-duration
                $auth-screen-animation-style,
            width 0s $auth-screen-animation-duration;
        width: $auth-screen-banner-width;

        &--login {
            box-shadow: -1rem 1rem 2rem rgba($color-dark-four, 0.4);
            transform: translateX(150%);
        }
    }
}
