.header-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 84px;
    align-content: center;
    padding-left: 100px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    background-color: $color-dark;
}


.team-user-card__box {
    display: flex;
    border-width: 1px;
    border-radius: 8px;
    border: solid 4px $color-dark-three;
    background-color: $color-dark-three;
    
    height: 80px;
    margin-top: 80px;
    margin-right: 80px;

    padding-left: 40px;
    color: white;

    
}

.container-information{
    &__team-menber {
        padding-left: 50px;
        width:50%;
        float:right;
  }
  
    &__team-information {
        width:50%;
        float:left;
  }
}
