@import '../../styles/color-palette.scss';
@import '../../styles/text-styles.scss';

.shape {
  width: 300px;
  height: 40px;
  border-radius: 14px;
  background-color: $dark-three;
  padding: 8px 24px;
  border: none;
  @include Placeholder-Medium;

  &:focus {
    color: $white;
    border: 1px $cornflower solid;
  }
}
