.admin-user-card {
    overflow: hidden;
    padding: 2rem 2.8rem;
    border-radius: 1.2rem;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 8rem 1fr repeat(3, min-content);
    grid-template-columns: 1fr min-content;
    background-color: $color-dark-medium;
    color: $color-white;
    box-shadow: -7px 8px 13px 13px rgba(0, 0, 0, 0.1);

    &__names {
        width: 100%;
        text-align: start;
        overflow: hidden;
    }

    &__avatar {
        height: 8rem;
        width: 8rem;
        justify-self: end;
    }

    &__username {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    &__email {
        width: 100%;
        overflow: hidden;
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }

    &__phone {
        width: 100%;
        overflow: hidden;
        grid-row: 4 / 5;
        grid-column: 1 / -1;
    }

    &__action-buttons {
        height: 6rem;
        grid-row: 5 / 6;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &__button {
            padding: 0.8rem 1.2rem;
            font-size: 1.2rem;
            text-transform: none;

            &--2 {
                margin-right: auto;
                margin-left: 0.6rem;
            }

            &--3 {
                letter-spacing: 2px;
            }
        }
    }

    &__delete-modal {
        display: grid;
        row-gap: 2rem;
    }
}
