%btn-effect {
    &:hover {
        transform: translateY(-0.5rem) scale(1.1);
        box-shadow: 0 1rem 2rem $color-dark;
    }

    &:active {
        transform: translateY(0.1rem) scale(1);
        box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.8);
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inherit;
    letter-spacing: 0.4rem;
    text-decoration: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    font-weight: 700;

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--white {
        background-color: $color-white;
        color: $color-dark-medium;
    }

    &--primary {
        background-color: $color-rosy-pink;
        color: $color-white;
    }

    &--primary-gradient {
        background-image: $color-primary-gradient;
        color: $color-white;

        & > svg {
            fill: $color-white;
        }
    }

    &--outline {
        border: 0.3rem solid;
        border-radius: 3.5rem;
        transition: all 0.3s;
        background-color: transparent !important;

        &.btn--white {
            border-color: $color-white;
            color: white;

            &:hover {
                background-color: $color-white !important;
                color: $color-dark-medium !important;
            }
        }

        &.btn--primary {
            border-color: $color-rosy-pink;
            color: $color-rosy-pink;

            &:hover {
                background-color: $color-rosy-pink !important;
                color: $color-white !important;
            }
        }
    }

    &--round {
        border-radius: 100%;
        border: none;
    }

    &--icon-holder {
        position: relative;

        &__icon {
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 25%;
            right: 10%;
        }
    }

    &--rounded-bottom {
        border: none;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
    }
}
