.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 6.8rem;
    text-align: center;
    font-family: inherit;
    letter-spacing: 0.4rem;
    text-decoration: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    font-weight: 700;

    &--outline {
        border: 0.3rem solid $color-white;
        border-radius: 3.5rem;
        transition: all 0.3s;

        &:hover {
            background-color: white;
            color: $color-dark-medium;
        }
    }

    &--white {
        color: $color-white;
    }

    &:hover {
        transform: translateY(-0.5rem) scale(1.1);
        box-shadow: 0 1rem 2rem $color-dark;
    }

    &:active {
        transform: translateY(0.1rem) scale(1);
        box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.8);
    }

    &--round {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        background-image: linear-gradient(176deg, #4c617b, $color-dark);
        border: none;
        color: $color-white;
        position: relative;

        &__icon {
            width: 3rem;
            height: 3rem;
            fill: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
