.date-picker {
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 $color-dark-four;
    background-color: $color-dark-two;
    margin-right: 5px;
    color: $color-light-grey;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
        color: $color-white;
        background-color: $color-dark-four;
    }
}
