.filter-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 100%;

    &__count {
        margin-left: $filter-item-spacing-name-count;
        transition: background-color $filter-animation-duration;
    }

    &__name {
        transition: color $filter-animation-duration;
    }

    &--active {
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            top: 100%;
            background-color: $color-blue-light;
            animation: fadeIn $filter-animation-duration ease-out;
        }
    }

    &--active > &__count {
        background-color: $color-blue-light;
    }

    &--active > &__name {
        color: $color-blue-light;
    }
}
