.form-input {
    position: relative;
    width: 100%;

    &__icon {
        top: 50%;
        left: $base-input-padding-sides;
        transform: translateY(-50%);
        transition: transform $smart-input-animation-duration
                $smart-input-animation-style,
            opacity $smart-input-animation-duration $smart-input-animation-style;
        color: $color-light-grey;
        position: absolute;
        height: 1.6rem;
        width: 1.6rem;

        &--focus {
            transform: translateY(-4rem);
            opacity: 0;
        }
    }

    &__label {
        position: absolute;
        color: white;
        left: 0;
        top: -70%;
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        transition: all 0.4s ease-in-out;
    }

    &__input:placeholder-shown ~ &__label {
        transform: translate(2rem, 4rem);
        opacity: 0;
        visibility: hidden;
    }

    &__input {
        @extend %base-input-shape;
        padding-left: 3 * $base-input-padding-sides;
        transition: border-color $smart-input-animation-duration
                $smart-input-animation-style,
            padding-left $smart-input-animation-duration
                $smart-input-animation-style,
            border $smart-input-animation-duration $smart-input-animation-style;

        &--error {
            border-color: $color-rosy-pink;

            & ~ svg {
                color: $color-rosy-pink !important;
            }
        }

        &--success {
            border-color: $color-green-light;

            & ~ svg {
                color: $color-green-light;
            }
        }

        &--loading {
            & ~ svg {
                top: 1rem;
                animation: rotateRight 1.5s ease-in-out infinite running !important;
            }
        }

        &:focus {
            padding-left: $base-input-padding-sides;
        }

        &--icon-static {
            &:focus {
                padding-left: 3 * $base-input-padding-sides;
            }
        }

        &--no-caret {
            &:focus {
                caret-color: transparent;
            }
        }

        &--no-icon {
            padding: $base-input-padding-top $base-input-padding-sides;
        }

        @include input-placeholder($color-light-grey);
    }
}
