
.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .circle {
    
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #1d2938;
    border: solid 6px white;
  }
  
  .horizontal {
    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    height: 12.5%;
    left: 25%;
    top: 43.75%;
  }
  .vertical {
    position: relative;
    background-color: #FFFFFF;
    width: 12.5%;
    height: 50%;
    left: 43.75%;
    top: 12.5%;
  }

  
.modal-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 80px;
    position: absolute;
  }
  
  .modal-box {
    border: 2px solid #1d2938;
    border-radius: 13px;
  }
  
  .create-title {
    color: #a193f5;
    text-align: center;
  }
  
  .modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 70%;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .create-button {
    width: 70%;
    height: 109px;
    align-items: center;
    border: none;
    border-radius: 13px;
    background-color: #a193f5;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .create-button:hover{
    cursor: pointer;
  }
  
  .join-title {
    color: #82c986;
    text-align: center;
  }
  
  .join-button {
    width: 70%;
    height: 109px;
    align-items: center;
    border: none;
    border-radius: 13px;
    background-color: #82c986;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .join-button:hover{
    cursor: pointer;
  }
  
  
  .action-container {
      height: 100%;
      display: grid;
      grid-template-rows: 20% 60% 20%;
  }