.search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $search-field-width;
    position: relative;
    overflow: hidden;

    &__input {
        width: 100%;
        padding: $search-field-padding $search-field-icon-size +
            $search-field-padding * 2;
        background-color: inherit;
        border-radius: 10rem;
        color: $color-light-grey;
        letter-spacing: 0.2rem;
        border: 1px solid $color-light-grey;
        font-size: 1.5rem;
        display: block;
        font-family: inherit;
        transition: padding-left $search-field-animation-duration,
            color $search-field-animation-duration,
            border $search-field-animation-duration;

        @include input-placeholder($color-light-grey);

        &:focus {
            color: $color-white;
            border: 1px solid $color-white;
            padding-left: $search-field-padding * 2;
        }
    }

    &__icon {
        font-size: 1.6rem;
        transition: all $search-field-animation-duration;
        position: absolute;
        left: $search-field-padding;
        top: 50%;
        transform: translateY(-50%);

        &--active {
            top: -50%;
        }
    }

    &__icon-status {
        font-size: 1.4rem;
        margin-left: -($search-field-padding * 2) * 2;
    }
}
