*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // this defines what 1 rem is (default on navigator: 16px)
    font-family: 'Open Sans', sans-serif;
    background-color: $color-dark;
}

body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: [sidebar-start] min-content [sidebar-end full-start] 1fr [full-end];
    grid-template-rows: minmax(100vh, min-content);

    &__content {
        grid-column: full-start / full-end;
    }
}
