i[class*='-spinner'] {
    animation: rotateRight 1.5s ease-in-out infinite running !important;
}

.icon {
    transition: color $icon-animation-duration;
    // COLORS
    &--pink {
        color: $color-rosy-pink;
    }

    &--green {
        color: $color-green-light;
    }

    &--light-grey {
        color: $color-light-grey;
    }

    &--white {
        color: $color-white;
    }

    // ANIMATIONS
    &--rotate {
        animation: rotateRight 1.5s ease-in-out infinite running !important;
    }

    &--rotate-abs-y {
        animation: rotateRightAbsY 1.5s ease-in-out infinite running !important;
    }

    // DIVERS
    &--button {
        cursor: pointer;
    }
}
